aws_region               = "ap-southeast-1"
project_name             = "tripplan"
environment              = "bootstrap"
owner                    = "your-name"
state_bucket_name        = "tripplan-terraform-state-your-unique-suffix"
lock_table_name          = "tripplan-terraform-locks"
github_owner             = "your-github-user-or-org"
github_repo              = "tripplan-cloud-platform"
github_default_branch    = "main"
github_actions_role_name = "tripplan-github-actions"
